<%= turbo_frame_tag "cart" do %>

  <% if user_signed_in? %>

    <% if @cart.cart_products.count.positive? %>

  	  <%= render "cart/cart_products" %>

      <div class="mt-6 font-bold text-3xl bg-white mx-auto p-3 rounded-lg shadow-md flex flex-row justify-end pr-20">
        <p>
          Total: <%= @cart.total  %>
        </p>
      </div>

    <% else %>
			<p>Your cart is empty</p>
    <% end %>
  <% else %>

    <% if @cart.present? %>
      <% @cart_products.each do |product| %>
        <div class="product-item" >
          <%= render "products/product", product: product%>
          <p class="mt-1 pl-10">
            <span class="font-bold">Amount: </span><%= @cart[product.id.to_s] %>
          </p>
          <div>
            <%= form_with(url: cart_remove_path) do |f| %>
              <%= f.hidden_field :id, value: product.id %>
              <%= f.submit "Delete", class:"h-11  px-6 bg-red-500 rounded-lg"%>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>
        Your cart is empty!
      </p>
    <% end %>
  <% end %>
<% end %>
