<div class="container">

    <% @products.each do |product|%>
      <div class="mt-6 w-4/5 h-40 bg-white mx-auto p-3 rounded-lg shadow-md flex flex-row justify-between" >

      <div class="w-3/5">
        <p><span class="font-bold">Name: </span><%= product.name%></p>
        <p><span class="font-bold">Category: </span><%= product.category.name %></p>
        <p><span class="font-bold">Description: </span><%= product.description%></p>
        <p><span class="font-bold">Price: </span><%= product.price%></p>
      </div>
        
      <div class="flex flex-row  w-2/5 items-center justify-end">
        <%= form_with(url: cart_add_path) do |f| %>
          <%= f.hidden_field :id, value: product.id %>
          <div>
            <%= f.number_field :amount, value: 1, min: 1, class:"w-3/5 rounded-lg" %>
          </div>
          <div>
            <%= f.submit "Add to cart", class:"mt-2 w-3/5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"%>
          </div>
          
        <% end %>
      </div>
        
      </div>
    <% end %>
    
</div>