<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-200 relative h-full flex flex-col pb-20">
    
    <%= render "shared/header" %>
    
    <main class="container w-3/5 mx-auto mt-10 flex flex-auto">
      <% if current_user %>
        <!--<%= render partial: "cart/cart" if @render_cart %>-->
      <% end %>
      <p class="notice hidden"><%= notice %></p> 
      <p class="alert hidden"><%= alert %></p> 
      <%= yield %>
    </main>

    
  </body>
</html>
